<!DOCTYPE html>
<html>

<head>
    <title>{{ options.title }}</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="yes" name="mobile-web-app-capable">
    <meta content="kss-node" name="generator">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,300" rel="stylesheet">
    <link href="css/acc_uc.css" rel="stylesheet"> 
    <link href="css/acc_boot.css" rel="stylesheet"> 
    <link href="kss-assets/vendor/prism.css" rel="stylesheet">
    <link href="kss-assets/css/kss.css" rel="stylesheet">
    {{{ styles }}}
</head>

<body class="kss-body texture_light">
    <!-- navigation. -->
    <!-- /navigation. -->
    <!-- documentation. -->
    <header class="p_4 text_center">
            <h1 class="font_display font_10 font_light">{{ options.title }}</h1>
            <small class="font_0 m-t_n3 block m-b_4 font_xbold font_display">Multi Product Brand Style System by the American College of Cardiology</small>
               <aside class="m_auto font_copy ">
                <ul class="ul_none flex flex_row:md flex_column justify_center br-t_1 br_solid br_black-4 p-y_3 br-b_1 ">
                    <li  class=" w_auto:md w_100 p_2 self_center {{#if homepage}}is-active active{{/if}}">
                        <a class="block inline-block:md {{#if isActive}}is-active active{{/if}} h:bg_black-2 a:bg_accent a:c_white h:undecorated p_3 br_radius nowrap" href="index.html">
                            <span class=""><i class="fas fa-home p-x_2"></i></span>
                        </a>
                    </li>
                    {{#each menu}}
                    <li class="w_auto:md w_100 br-l_1 br_black-2 br_solid:md p_2 self_center {{#if isActive}}is-active active{{/if}}">
                        <a class="block inline-block:md {{#if isActive}}is-active active{{/if}} h:bg_black-2 a:bg_accent a:c_white h:undecorated p_3 br_radius nowrap" href="section-{{ referenceURI }}.html">
                            <span class="">{{ header }}</span>
                        </a>
                    </li>
                    {{/each}}
                    <li class="w_auto:md w_100 br-l_1 br_black-2 br_solid:md p_2 self_center ">
                        <a class="block inline-block:md h:bg_black-2 a:bg_accent a:c_white h:undecorated p_3 br_radius nowrap" href="https://acc-style.github.io/IconDictionary/" target="_blank">
                            <span class="">Icon Dictionary</span>
                        </a>
                    </li>
                    
                </ul>
            </aside>
    </header>
    <div class= "m_auto p-x_4 ">     

        {{#if homepage}}
            <article class="kss-markdown reading-typography font-size_up p_4 p-t_2 flex_auto max-w_90 m_auto">
                {{{ homepage }}} 
            </article>
        {{ else }}
            <!-- display each section, in order. the "root" element comes first in this loop, and can be detected using the "#if @first" block as seen below. -->
            <div class="flex flex_column flex_row:md gap-x_5 max-w_90 m_auto">
            <aside class="max-w_15 w_20 flex_none relative">
                    <div class="sticky t_4">
                        {{#each menu}}
                        {{#if isActive}}
                        <h3>{{ header }}</h3>
                            {{#if children}}
                                <ul class="m-l_0 ul_none">
                                    {{#each children}}
                                        <li class="">
                                           <a class="block inline-block:md flex flex_row h:undecorated flex_nowrap" href="section-{{ ../referenceURI }}.html#kssref-{{ referenceURI }}">
                                                <span class="flex_auto overflow_ellipsis">{{ header }}</span>
                                            </a>
                                        </li>
                                    {{/each}}
                                </ul>
                            {{/if}}
                        {{/if}}
                    {{/each}}
                    </div>
            </aside>
            <main class="">
            {{#each sections}}
                {{#if @first}}
                    <header class="bg_white kss-section kss-section--depth-{{ depth }} shadow_1" id="kssref-{{ referenceURI }}">
                        {{ else }}
                        <section class="kss-section bg_white kss-section--depth-{{ depth }} shadow_1" id="kssref-{{ referenceURI }}">
                {{/if}}
                
                <article class="kss-section__content">
                    {{#if source.filename}}
                        <p class="kss-section__source">Source: <span>{{ source.filename }}</span>, line <span>{{ source.line }}</span>
                        </p>
                    {{/if}}
                    <a class="kss-section__permalink" href="#kssref-{{ referenceURI }}">
                        <h{{ depth }} class="kss-section__item kss-section__item--depth-{{ depth }}">
                            <span class="kss-section__ref">{{ referenceNumber }}</span>
                            <span class="kss-section__name">{{ header }}</span>
                        </h{{ depth }}>
                    </a>
                    {{#if description}}
                        <div class="kss-section__description{{#if deprecated}} state-deprecated{{/if}}{{#if experimental}} state-experimental{{/if}} reading-typography font-size_up ">
                            {{{ description }}}</div>
                    {{/if}}
                    {{#if parameters}}
                        <ul class="kss-parameters">
                            {{#each parameters}}
                                <li class="kss-parameters__item">
                                    <p class="kss-parameters__description">
                                        {{{ description }}} {{#if defaultValue}} Defaults to: <code>{{ defaultValue }}</code>
                                        {{/if}}
                                    </p>
                                    <code class="kss-parameters__name">{{ name }}</code>
                                </li>
                            {{/each}}
                        </ul>
                    {{/if}}
                </article>
                {{#if example}}
                    <article class="kss-section__modifiers">
                        <h1 class="kss-modifiers__heading">Example {{#if modifiers}}s {{/if}}
                        </h1>
                        {{#if modifiers}}
                            <h2 class="kss-modifiers__name">Default styling</h2>
                        {{/if}}
                        <div class="kss-modifiers__example">
                            <div class="{{markupwrapperclasses}}">{{{ markup }}}</div>
                        </div>
                            {{#if modifiers}}
                        <div class="{{markupwrapperclasses}}">
                        {{#each modifiers}}
                            <article class="kss-modifiers__modifier">
                                <h2 class="kss-modifiers__name">{{ name }}</h2>
                                <p class="kss-modifiers__description">{{{ description }}}</p>
                                <div class="kss-modifiers__example">
                                    {{{ markup }}}</div>
                            </article>
                        {{/each}}
                        </div>
                        {{/if}}
                    </article>
                    {{#if example}}
                        <section class="relative">
                            <article class="kss-section__markup overflow_scroll scrollbar-mini" style="max-height: 30vh;">
                                <pre><code class="language-markup"  id="input-{{ referenceURI }}" value='{{ markup }}'>{{ markup }}</code></pre>
                            </article>
                            <input class="display_none text-input html-code-input" type="text" name="" id="input-{{ referenceURI }}" value='{{ markup }}'>
                            <a class="absolute bg_shade-3 br_1 br_black-3 br_radius br_solid font_medium h:bg_shade-1 m-r_3 p-x_4 p-y_3 r_3 shadow_overlap-light t_3" onclick="CopyText( '#input-{{ referenceURI }}',event )"><i class="far fa-copy"></i> Copy</a>
                        </section>
                    {{/if}}
                {{/if}}
                {{#if @first}}
                    </header>
                    {{ else }}
    </section>
    {{/if}}
    {{/each}}
    </main>
    </div>
    {{/if}}
    </section>
    
    <!-- /documentation. -->
    <!-- scripts. -->
    <script src="kss-assets/vendor/jquery.js"></script>
    <script src="kss-assets/vendor/prism.js"></script>
    <script src="kss-assets/js/kss.js"></script>
    <script>
        function CopyText(id,event) {
            event.preventDefault();
            var $htmlCodeInput =  document.getElementById(id);
            /* Select the text field */
            $htmlCodeInput.select();
            $htmlCodeInput.setSelectionRange(0, 99999); /*For mobile devices*/
            $("body").append($htmlCodeInput);
            /* Copy the text inside the text field */
            document.execCommand("copy");

            /* Alert the copied text */
            alert("Copied the text: " + $htmlCodeInput.value);
        };
    </script>
    {{{ scripts }}}
    <!-- /scripts. -->
</body>

</html>
